* {
  x-sizing: border-box;


dy {
  rgin: 20px auto;
  dding: 20px;
  x-width: 300px;


ard-list[role="l""ist"""] {
list-style: none;
display: grid;
gap: 20px;
margin: 40px 0 0;
padding: 0;


ard {
 dsplay: grid;
  dding: 20px;
  rder: 1px solid #ccc;
  rder-radius: 4px;
  x-shadow: 0 4px 16px #0002;


ard__tag-list[role="l""ist"""] {
list-style: none;
  splay: flex;
  p: 6px;
  dding: 0;


ard__tag {
padding: 2px 6px;
background: #ccc;


