* {
  x-sizing: border-box;


dy {
margin: 20px auto;
padding: 20px;
 mx-width: 300px;


ard-list[role="l"ist""] {
list-style: none;
display: grid;
  p: 20px;
  rgin: 40px 0 0;
  dding: 0;


ard {
 dsplay: grid;
padding: 20px;
  rder: 1px solid #ccc;
 brder-radius: 4px;
  x-shadow: 0 4px 16px #0002;


